<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.hijiyam_koubou.kaodori">

	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<!--<uses-feature android:name="android.hardware.camera2.full" />  -->
	<!-- 機種依存有り？-->

	<application
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:theme="@android:style/Theme.NoTitleBar">

		<!--android:screenOrientation="portrait"		縦表示に固定	/横		landscape	-->
		<!--android:resizeableActivity="true"-->
		<!--TextureView使用時；android:hardwareAccelerated="false"では使えない-->
		<!--android:theme="@style/AppTheme">-->
		<!--android:resizeableActivity="true" MultiWindowを有効にする		-->
		<!--android:allowBackup="true"	バックアップサービスを利-->
		<!--android:supportsRtl="true"	アプリケーションが右から左へのレイアウト（RTL）をサポートするか 右から左方向へ文字を書く、アラビア語、ヘブライ語、ペルシャ語などへ対応するための属-->
		<activity android:name=".MainActivity"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".FdActivity"
				  android:configChanges="orientation|screenSize"
			>
			<!-- ★Androidで特定の設定が変更された場合にアクティビティが再生成されるのを防止★ 回転で更新されなくなる
					orientation		|mcc|	mnc|	locale|		touchscreen|	keyboard|	keyboardHidden|	navigation|fontScale-->
			<!--<intent-filter>-->
			<!--<action android:name="android.intent.action.MAIN"/>-->
			<!--<category android:name="android.intent.category.LAUNCHER"/>-->
			<!--</intent-filter>-->
		</activity>
		<activity android:name=".MyPreferencesActivty"/>
	</application>

</manifest>